<header>
    <!-- logo+grain -->
<div class="veloce-coffee-shop">
    <a routerLink="/product-page">
        <img src="assets/images/logo.svg"  id="logo-img" alt="logo">
        <img src="assets/images/coffeeshop.svg" id="logo-text-img" alt="coffeeshop">
    </a>
    

</div>
<!-- shopping cart -->
<a routerLink="/shopping-cart">
    <div class="shopping-cart">
        <div class="shopping-cart-logo">
            <span class="number-of-products-added" id="clickCount">{{ clickCountObject.clickCount }}</span>
            <img class="shopping-cart-image" id="shopping-cart-image" src="assets/images/Shopping_Cart_fill.svg" alt="Shopping Cart">
        </div>
        <div class="shopping-cart-text">
            
            <span class="shopping-text">Shopping cart</span>
        </div>
    </div>
</a>


</header>

