.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .item-name {
    flex: 1 0 0;
    color: var(--deep-blue);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
  }
  .item-price{
    color: var(--orange);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
  }