<!-- <app-header></app-header> -->
<main>
    <div class="shopping-cart-plus-text">
        <div class="shopping-cart-shopping">
            <span>Shopping cart</span>
        </div>

        <div class="prod-plus-check">
            <div class="choosen-product-block">
                <app-shopping-cart-product *ngFor="let productAndQuantity of productsWithQuantity" [product]="productAndQuantity.product" [quantity]="productAndQuantity.quantity"></app-shopping-cart-product>
            </div>
            <div>
                <app-checkout [productsAndQuantity]="productsWithQuantity"></app-checkout>
            </div>
        </div>
        
        
    </div>
</main>