.shopping-cart-shopping span{
    color: var(--deep-blue);
    font-family: "Eczar", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.cart-product-shopping-cart{
    display: flex;
    padding-bottom: 24px;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-bottom: 2px solid var(--white);
  
  }
.shopping-cart-plus-text{
    padding-top: 64px;
    gap: 20px;
}
main {
  width: 100%;
  display: flex;
  justify-content: center
} 
/* ------------------- */
  .prod-plus-check{
    padding-top: 50px;
    align-items: top;
    justify-content: center;
    display: flex;
    gap: 50px;
  }
  @media screen and (max-width: 900px) {
    .shopping-cart-plus-text{
      position: relative;
      display: block;
    }
    

  }